%script{:defer => "defer", :src => get_google_map_api}
%script{:src => "https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"}

%h2 Google Map
#map

:javascript
  var infoWindow;

  function initMap() {
    const bangkok = { lat: #{ENV['DEFAULT_LATITUDE']}, lng: #{ENV['DEFAULT_LONGITUDE']} };
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 9,
      center: bangkok,
    });

    infoWindow = new google.maps.InfoWindow({
      content: "",
      disableAutoPan: true,
    });

    const markers = generateMarkers()

    return new markerClusterer.MarkerClusterer({ map, markers });
  }


  function generateMarkers() {
    return #{types}.map((type, i) => {
      position = {lat: #{lats}[i], lng: #{lngs}[i]};
      const marker = initMarker(#{names}[i], type, position);

      marker.addListener("click", () => {
        infoWindow.setContent(#{names}[i]);
        infoWindow.open(map, marker);
      });

      return marker;
    });
  }

  function initMarker(name, type, position) {
    console.log(name)
    return new google.maps.Marker({
      position,
      name,
      icon: markerIcon(type)
    });
  }

  function markerIcon(type) {
    if (type == 'spa_and_massage') return "#{ENV['BLUE_MARKER']}"
    if (type == 'nails') return "#{ENV['YELLOW_MARKER']}"
    if (type == 'hair_removal') return "#{ENV['PURPLE_MARKER']}"

    return '';
  }
  
  window.initMap = initMap;